body {
  text-align: center;
  width: 100%;
}

.logo {
  display: inline-block;
  width: 200px;
}

.login-box {
  width: 300px;
  display: inline-block;
  text-align: left;
}

.material-icons {
  position: relative;
  top: 8px;
}

.blueprint {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100%;
    background: url('/cerberus/assets/images/blueprint.jpg') no-repeat;
  }
